@inherits LayoutComponentBase

<PageTitle>短网址工具箱</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://dwz.nz" target="_blank">短网址</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
