@{
    ViewData["Title"] = "关于我们";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>一个实验性的小程序，内置了小部分字库，把输入的文字按选择的字库转成图片并显示出来。</p>
<p>基于微软.Net6构建，部署在Ubuntu 20.04服务器，图片处理使用的是google的libSkiaSharp库。</p>
